select,input,textarea{font-size:12px;font-family:Tahoma,Geneva,sans-serif;}
select{font-size:12px;vertical-align:middle;}.box{margin:0 auto;text-align:left;overflow:hidden;width:670px;}
.option1{background-color:#DCECA6;}.option2{background-color:#5AB341;color:#fff;}.option3{background-color:#FFF;}

